{{! 
  https://ghost.org/docs/themes/structure/
  Home Page

  Rendered on: /
}}

{{!
  Inherit from the default 
}}
{{!< default}}

{{!
  Render the custom homepage content
  Can use custom variables from the Context
}}
<h2>Hello</h2>